/* Colors */
/* Mixins */
/*
  Setting colors for a method container, the form, and http method indicator
*/
/*
  font-family for monospace
*/
/* line 40, scss/style.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 49, scss/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 53, scss/style.scss */
blockquote, q {
  quotes: none;
}

/* line 57, scss/style.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* line 62, scss/style.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 68, scss/style.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 75, scss/style.scss */
del {
  text-decoration: line-through;
}

/* line 80, scss/style.scss */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, scss/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 90, scss/style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 100, scss/style.scss */
input,
select {
  vertical-align: middle;
}

/* line 104, scss/style.scss */
body {
  font: 13px / 1.231 sans-serif;
  *font-size: small;
}

/* line 112, scss/style.scss */
select,
input,
textarea,
button {
  font: 99% sans-serif;
}

/* line 119, scss/style.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* line 123, scss/style.scss */
html {
  overflow-y: scroll;
}

/* line 127, scss/style.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 132, scss/style.scss */
a:hover,
a:active {
  outline: none;
}

/* line 138, scss/style.scss */
a,
a:active,
a:visited {
  color: #607890;
}

/* line 142, scss/style.scss */
a:hover {
  color: #036;
}

/* line 147, scss/style.scss */
ul,
ol {
  margin-left: 2em;
}

/* line 151, scss/style.scss */
ol {
  list-style-type: decimal;
}

/* line 156, scss/style.scss */
nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 162, scss/style.scss */
small {
  font-size: 85%;
}

/* line 167, scss/style.scss */
strong,
th {
  font-weight: bold;
}

/* line 171, scss/style.scss */
td {
  vertical-align: top;
}

/* line 176, scss/style.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 182, scss/style.scss */
sup {
  top: -0.5em;
}

/* line 186, scss/style.scss */
sub {
  bottom: -0.25em;
}

/* line 190, scss/style.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 198, scss/style.scss */
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}

/* line 202, scss/style.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 206, scss/style.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 210, scss/style.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 214, scss/style.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 222, scss/style.scss */
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}

/* line 229, scss/style.scss */
button,
input,
select,
textarea {
  width: auto;
  overflow: visible;
  margin: 0;
}

/* line 235, scss/style.scss */
textarea {
  overflow: auto;
}

/* line 240, scss/style.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 246, scss/style.scss */
input:invalid,
textarea:invalid {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0, 0, 5px, red;
  -moz-box-shadow: 0, 0, 5px, red;
  box-shadow: 0, 0, 5px, red;
}

/* line 252, scss/style.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 256, scss/style.scss */
::-moz-selection {
  background: #ff5e99;
  color: #fff;
  text-shadow: none;
}

/* line 262, scss/style.scss */
::selection {
  background: #ff5e99;
  color: #fff;
  text-shadow: none;
}

/* line 268, scss/style.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 276, scss/style.scss */
body,
select,
input,
textarea {
  color: #444;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 281, scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 285, scss/style.scss */
html {
  height: 100%;
}

/* line 289, scss/style.scss */
body {
  width: 960px;
  margin: 15px auto;
}

/* line 294, scss/style.scss */
h1 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* line 300, scss/style.scss */
h2 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 15px;
}

/* line 306, scss/style.scss */
ul {
  margin: 0;
}

/* line 310, scss/style.scss */
li {
  list-style: none;
  margin-left: 0;
}

/* line 315, scss/style.scss */
.credentials {
  background-color: #f4f4e1;
  border: 1px solid #cbcb71;
  overflow: hidden;
  *zoom: 1;
  padding: 15px;
}
/* line 321, scss/style.scss */
.credentials h2 img {
  margin-left: 10px;
}
/* line 325, scss/style.scss */
.credentials div {
  float: left;
  margin-right: 15px;
}
/* line 330, scss/style.scss */
.credentials label {
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
}
/* line 336, scss/style.scss */
.credentials input {
  width: 200px;
}

/* line 341, scss/style.scss */
#controls {
  overflow: hidden;
  *zoom: 1;
  margin-top: 10px;
  border: 1px solid #999;
  border-width: 1px 0;
  padding: 10px 0;
}
/* line 348, scss/style.scss */
#controls li {
  padding-right: 10px;
  float: left;
}
/* line 352, scss/style.scss */
#controls li:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid #ddd;
}

/* line 359, scss/style.scss */
.endpoint {
  margin: 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  *zoom: 1;
}
/* line 364, scss/style.scss */
.endpoint > .title {
  padding: 20px 0 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 368, scss/style.scss */
.endpoint > .title .name {
  font-size: 18px;
  float: left;
}
/* line 372, scss/style.scss */
.endpoint > .title .name:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* line 378, scss/style.scss */
.endpoint > .title .actions {
  float: right;
}
/* line 381, scss/style.scss */
.endpoint > .title .actions li {
  float: left;
  padding: 0 10px;
  border-left: 1px solid #ddd;
}
/* line 387, scss/style.scss */
.endpoint > .title .actions li:first-child {
  border: 0;
}

/* line 394, scss/style.scss */
.methods {
  display: none;
}

/* line 398, scss/style.scss */
.method {
  font-size: 14px;
  border: 1px solid #eee;
  margin: 10px 0;
  /*    &.authrequired .http-method {
          background-image: url(/images/lock.png);
          background-repeat: no-repeat;
          background-position: 7px 50%;
      }*/
}
/* line 403, scss/style.scss */
.method .title {
  overflow: hidden;
}
/* line 406, scss/style.scss */
.method .title:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
/* line 410, scss/style.scss */
.method .title:hover span {
  text-decoration: underline;
}
/* line 413, scss/style.scss */
.method .title:hover span.http-method {
  text-decoration: none;
}
/* line 420, scss/style.scss */
.method .title span {
  margin: 0 10px 0;
  line-height: 33px;
  float: left;
}
/* line 426, scss/style.scss */
.method .title .name {
  font-size: 16px;
}
/* line 430, scss/style.scss */
.method .title .description {
  float: right;
  font-size: 12px;
  text-align: right;
}
/* line 436, scss/style.scss */
.method .title .http-method {
  padding: 0 10px;
  width: 40px;
  font-size: 12px;
  text-align: center;
  margin: 0;
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Bitstream Vera Mono', monospace;
  color: #fff;
  line-height: 33px;
  float: left;
}
/* line 450, scss/style.scss */
.method .clear-results {
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
}
/* line 463, scss/style.scss */
.method form {
  clear: both;
  padding: 15px;
  display: none;
}
/* line 469, scss/style.scss */
.method table {
  margin-bottom: 15px;
  width: 100%;
}
/* line 474, scss/style.scss */
.method tr.required {
  font-weight: bold;
}
/* line 478, scss/style.scss */
.method th {
  font-weight: bold;
  text-align: left;
}
/* line 483, scss/style.scss */
.method th, .method td {
  padding: 5px;
  vertical-align: middle;
}
/* line 488, scss/style.scss */
.method td, .method pre {
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Bitstream Vera Mono', monospace;
  font-size: 12px;
  font-weight: normal;
}
/* line 494, scss/style.scss */
.method td {
  font-family: Arial;
}
/* line 498, scss/style.scss */
.method h2 {
  margin-top: 15px;
  margin-bottom: 3px;
}
/* line 503, scss/style.scss */
.method pre {
  font-size: 12px;
  overflow: auto;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 510, scss/style.scss */
.method pre.response {
  max-height: 500px;
}
/* line 514, scss/style.scss */
.method pre.error {
  background-color: rgba(255, 66, 66, 0.2);
}
/* line 520, scss/style.scss */
.method .result .select-all {
  float: right;
  font-size: 12px;
}
/* line 525, scss/style.scss */
.method .result h4 {
  margin: 20px 0 10px;
}

/* line 17, scss/style.scss */
.get {
  background: #e7f0f7;
  border-color: #aecce4;
}
/* line 21, scss/style.scss */
.get .http-method {
  background-color: #0061ac;
}
/* line 25, scss/style.scss */
.get th, .get td {
  border-bottom: 1px solid #9ac0de;
}

/* line 17, scss/style.scss */
.post {
  background: #e7f6ec;
  border-color: #afe1c0;
}
/* line 21, scss/style.scss */
.post .http-method {
  background-color: #04a73a;
}
/* line 25, scss/style.scss */
.post th, .post td {
  border-bottom: 1px solid #9ddab1;
}

/* line 17, scss/style.scss */
.put {
  background: #f9e7c3;
  border-color: #f2cb7d;
}
/* line 21, scss/style.scss */
.put .http-method {
  background-color: #8a5c00;
}
/* line 25, scss/style.scss */
.put th, .put td {
  border-bottom: 1px solid #f0c266;
}

/* line 17, scss/style.scss */
.delete {
  background: #f5e8e8;
  border-color: #deb3b3;
}
/* line 21, scss/style.scss */
.delete .http-method {
  background-color: #a20909;
}
/* line 25, scss/style.scss */
.delete th, .delete td {
  border-bottom: 1px solid #d6a1a1;
}

/* line 17, scss/style.scss */
.patch {
  background: #f9f8db;
  border-color: #eeeb99;
}
/* line 21, scss/style.scss */
.patch .http-method {
  background-color: #a29d00;
}
/* line 25, scss/style.scss */
.patch th, .patch td {
  border-bottom: 1px solid #eae784;
}

/* line 540, scss/style.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 549, scss/style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 561, scss/style.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 570, scss/style.scss */
.invisible {
  visibility: hidden;
}

/* line 575, scss/style.scss */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 582, scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 586, scss/style.scss */
.clearfix {
  zoom: 1;
}

/* line 590, scss/style.scss */
#io-footer {
  margin-top: 10px;
}

/* line 594, scss/style.scss */
.f-left {
  font-size: 8pt;
  text-align: left;
  float: left;
}

/* line 600, scss/style.scss */
.f-right {
  font-size: 8pt;
  text-align: right;
  float: right;
}

@media print {
  /* line 616, scss/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 619, scss/style.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 621, scss/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 623, scss/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 625, scss/style.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 627, scss/style.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 629, scss/style.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 631, scss/style.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 635, scss/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 637, scss/style.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
